.navbar{
    background: rgb(18, 51, 88);
    color: rgb(212, 212, 212);
    align-items: center;
    height: 40px;
    padding: 0 18px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    .item{
      margin-left: 5px;
      font-weight: 400;
      cursor: pointer;
      &:hover{
        font-weight: 600;
      }
    }
}