.sidebar{
    background: #e5e5ea ;
    flex: 0 0 260px;
    width: 260px;
    @media (max-width: 768px) {
        flex: 0 0 200px !important;
        width: 200px !important;
    }
    .header{
        padding: 18px;
        font-size: 16px;
        background: #75aac0;
        color: #fff;
    }
}